<script lang="ts" setup>
import {ref} from 'vue';
import {NAutoComplete, NButton, NForm, NFormItem, NInput, NModal, NSelect, useMessage} from "naive-ui";
import db from "../db";
import {useObservable} from "@vueuse/rxjs";
import {from, map} from "rxjs";
import {liveQuery} from "dexie";
import {chain} from "lodash";
import {Status, Task} from "../types.ts";

const message = useMessage()


const showModal = ref(false)

const taskName = ref('');
const taskDescription = ref('');

const projectName = ref('')
const projectsNames = useObservable(
    from(liveQuery(() => db.tasks.toArray()))
        .pipe(
            map(tasks => chain(tasks).map((task: Task) => task.project).compact().uniq().value())
        )
)


const dependencies = ref([]);

const tasks = useObservable(
    from(liveQuery(() => db.tasks.toArray()))
        .pipe(
            map(tasks => chain(tasks).map((task: Task) => ({
              label: task.title,
              value: task.id
            })).value())
        )
)

async function addFriend() {
  let newTask: Omit<Task, "id"> = {
    status: Status.Pending,
    title: taskName.value,
    depends_on: Array.from(dependencies.value),
    description: taskDescription.value,
    project: projectName.value
  }

  try {
    const id = await db.tasks.add(newTask as Task);

    message.info(`task ${taskName.value} successfully added. Got id ${id}`)

    // Reset form:
    taskName.value = '';
    taskDescription.value = '';
    projectName.value = '';
    dependencies.value = [];
  } catch (error) {
    message.error(`Failed to add ${taskName.value}: ${error}`)
  }
}
</script>

<template>

  <n-button @click="showModal = true">
    Add task
  </n-button>
  <n-modal
      v-model:show="showModal"
      preset="dialog"
      title="New task"
      positive-text="Add task"
      negative-text="Cancel"
      @positive-click="addFriend"
      :closable="false"
      :show-icon="false"
  >
  <n-form :style="{  maxWidth: '640px'  }" label-placement="left" label-width="auto" >
    <n-form-item label="Task name">
      <n-input v-model:value="taskName" placeholder="new task"/>
    </n-form-item>

    <n-form-item label="Task description">
      <n-input v-model:value="taskDescription" placeholder="description" type="textarea"/>
    </n-form-item>

    <n-form-item label="Project name">
      <n-auto-complete v-model:value="projectName" :options="projectsNames" placeholder="Project name"/>
    </n-form-item>

    <n-form-item label="Dependencies">
      <n-select v-model:value="dependencies" :options="tasks" multiple placeholder="Dependencies"/>
    </n-form-item>
  </n-form>
  </n-modal>

</template>
