<script setup lang="ts">
import db from "../db";

const getFormattedDateTime = () =>
    new Date()
        .toLocaleString('en-AU', {
          year: 'numeric',
          month: '2-digit',
          day: '2-digit',
          hour: '2-digit',
          minute: '2-digit',
          second: '2-digit',
          hour12: false,
        })
        .replace(/:/g, '-')
        .replace(/\//g, '-');

const exportTasks = async () => {
  const tasks = await db.tasks.toArray()
  const blob = new Blob([JSON.stringify(tasks, null, 2)], { type: 'application/json' });

  const blobUrl = URL.createObjectURL(blob);

  const anchor = document.createElement('a');
  anchor.href = blobUrl;
  anchor.target = "_blank";
  anchor.download = `tasks_tododu_${getFormattedDateTime()}.json`;

  anchor.click();

  URL.revokeObjectURL(blobUrl);
}

defineExpose({
  exportTasks
})
</script>
<template>

</template>
