<script setup lang="ts">
import {ref, watch} from "vue";
import {NInput, NModal, useMessage} from "naive-ui";
import {readFile} from "../utils";
import db from "../db.ts";
import {importValidator, Task} from "../types.ts";
import {assert} from "superstruct";

const showModal = ref(false)

const inputField = ref<InstanceType<typeof NInput>>()

const importText = ref("")

watch(showModal, (visible) => {
  if (visible) {
    document.addEventListener("dragover", ondragover)
    document.addEventListener("dragend", ondragend)
  } else {
    document.removeEventListener("dragover", ondragover)
    document.removeEventListener("dragend", ondragend)
  }
})

const ondragover = () => {
  document.removeEventListener("dragover", ondragover)

  requestAnimationFrame(() => {
    inputField.value?.$el.classList.add('n-input--hover')
  })
};
const ondragend = () => {
  requestAnimationFrame(() => {
    inputField.value?.$el.classList.remove('n-input--hover')
  })
};

const ondrop = async (e: DragEvent) => {
  inputField.value?.$el.classList.remove('n-input--hover')

  const file = e.dataTransfer!.files[0]
  importText.value = await readFile(file) ?? ""
};

const message = useMessage()

const performImport = async () => {
  try {
    const newTasks = JSON.parse(importText.value)
    assert(newTasks, importValidator)
    await db.tasks.clear()
    await db.tasks.bulkAdd(newTasks as Array<Task>)
  } catch (e) {
    message.error("could not import tasks", {
      duration: 10000,
      closable: true
    })
  }
}

const importTasks = () => {
  importText.value = ""
  showModal.value = true
}

defineExpose({
  importTasks
})
</script>

<template>
  <n-modal
      v-model:show="showModal"
      preset="dialog"
      title="Upload a backup"
      positive-text="Import"
      negative-text="Cancel"
      @positive-click="performImport"
      :closable="false"
      :show-icon="false"
      :mask-closable="false"
  >
    <n-input type="textarea" v-model:value="importText" @drop.prevent="ondrop" ref="inputField" placeholder="Drag or Paste here" />
  </n-modal>
</template>
