<script lang="ts" setup>
import {Status, Task} from "../types.ts";
import {groupBy} from "lodash";
import {NButton, NCard, NDivider, NIcon, NSpace} from "naive-ui"
import TaskUI from "./Task.vue"
import {Container, Draggable} from "vue-dndrop"
import db from "../db.ts";
import {ref, watchEffect} from "vue";

export type Props = {
  tasks: Array<Task>
  projectName: string
}
const props = defineProps<Props>()

const partition = async <T>(arr: Array<T>, f: (arg0: T) => Promise<boolean>) => {
  let left: Array<T> = [], right: Array<T> = [];

  for (const x of arr) {
    if (await f(x)) {
      left.push(x)
    } else {
      right.push(x)
    }
  }

  return [left, right]
}

const columns = ref({
  readyToGrabTasks: <Array<Task>>[],
  blockedTasks: <Array<Task>>[],
  inProgressTasks: <Array<Task>>[],
  doneTasks: <Array<Task>>[]
});

watchEffect(() => {
  const {
    [Status.Pending]: pendingTasks,
    [Status.InProgress]: inProgressTasks,
    [Status.Done]: doneTasks
  } = groupBy(props.tasks, (a: Task) => a.status);

  partition(pendingTasks ?? [] as Array<Task>, async (task) => {
    const undoneDependencies = await db.tasks.where("id").anyOf(task.depends_on).filter(task => task.status !== Status.Done).count()
    return undoneDependencies === 0
    // sync version for computed, but needs all tasks
    //   return chain(task.depends_on)
    //       .map((task_id: number) => props.tasks.find(task => task.id === task_id))
    //       .compact()
    //       .every(matchesProperty('status', Status.Done))
    //       .value()
  }).then(([readyToGrabTasks, blockedTasks]) => {
    columns.value = {readyToGrabTasks, blockedTasks, inProgressTasks, doneTasks}
  })

})

type Payload = { id: number }
type DropResult = { addedIndex: number | null, payload: Payload, element: HTMLElement, removedIndex: number}

const onDrop = (dropResult: DropResult, newStatus: Status) => {
  const {addedIndex, payload, element,removedIndex } = dropResult;
  if (addedIndex === null) return
  if (removedIndex !== null) return;
  element.style.display = "none"
  db.tasks.update(payload.id, {status: newStatus})
}

const getChildPayload = (column: Array<Task>) => (index: number): Payload => {
  return {id: column[index].id}
}

const shouldAcceptDrop = () => true
</script>

<template>
  <div class="project">
    <n-divider title-placement="left">
      {{ projectName }}
    </n-divider>
    <div class="wierd-flex">
      <n-card title="Backlog">
        <template #header-extra>
          <n-button style="font-size: 24px" text>
            <n-icon>
              <svg viewBox="-16 0 16 32" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 8l-10 8l10 8z"></path>
              </svg>
            </n-icon>
          </n-button>
        </template>
        <n-space vertical>
          <TaskUI v-for="task in columns.blockedTasks" :key="task.id" :description="task.description" :title="task.title"  :id="task.id"/>
        </n-space>
      </n-card>

      <n-card title="Ready To">
        <Container
            :get-child-payload="getChildPayload(columns.readyToGrabTasks)"
            :should-accept-drop="shouldAcceptDrop"
            drag-class="card-ghost"
            drag-handle-selector=".n-card-header"
            drop-class="card-ghost-drop"
            group-name="readyTo"
            @drop="(a: DropResult)=>onDrop(a, Status.Pending)"
        >

            <Draggable v-for="task in columns.readyToGrabTasks" :key="task.id" :id="task.id">

              <TaskUI :description="task.description" :title="task.title" :id="task.id"/>
            </Draggable>
        </Container>
      </n-card>

      <n-card title="In Progress">
        <Container
            :get-child-payload="getChildPayload(columns.inProgressTasks)"
            :should-accept-drop="shouldAcceptDrop"
            drag-class="card-ghost"
            drag-handle-selector=".n-card-header"
            drop-class="card-ghost-drop"
            group-name="inProgess"
            @drop="(a: DropResult) => onDrop(a, Status.InProgress)"
        >
            <Draggable v-for="task in columns.inProgressTasks" :key="task.id">
              <TaskUI :description="task.description" :title="task.title" :id="task.id"/>
            </Draggable>
        </Container>
      </n-card>


      <n-card title="Done">
        <template #header-extra>
          <n-button style="font-size: 24px" text>
            <n-icon>
              <svg viewBox="-16 0 16 32" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 8l-10 8l10 8z"></path>
              </svg>
            </n-icon>
          </n-button>
        </template>
        <Container
            :get-child-payload="getChildPayload(columns.doneTasks)"
            :should-accept-drop="shouldAcceptDrop"
            drag-class="card-ghost"
            drag-handle-selector=".n-card-header"
            drop-class="card-ghost-drop"
            group-name="done"
            @drop="(a: DropResult) => onDrop(a, Status.Done)"
        >
            <Draggable v-for="task in columns.doneTasks" :key="task.id">
              <TaskUI :description="task.description" :title="task.title" :deletable="true" :id="task.id"/>
            </Draggable>
        </Container>
      </n-card>

    </div>
    <!--    <div class="done">-->
    <!--      <h2>Done</h2>-->
    <!--      <div v-for="task in doneTasks" :key="task.id">-->
    <!--        {{ task.title }}-->
    <!--      </div>-->
    <!--    </div>-->
  </div>
</template>

<style lang="scss" scoped>

.wierd-flex {
  display: flex;
  flex-direction: row;
  @media only screen and (max-width: 767px) {
    flex-direction: column;
  }
  gap: 1em;
}

//.project {
//  display: grid;
//  grid-template-columns: 1fr 1fr 1fr 1fr;
//  grid-template-rows: 4em auto;
//  gap: 10px;
//  grid-auto-flow: row;
//  grid-template-areas:
//    "title title title title"
//    "blocked ready progress done";
//
//  > .title {
//    grid-area: title;
//  }
//
//  > .blocked {
//    grid-area: blocked;
//  }
//
//  > .ready {
//    grid-area: ready;
//  }
//
//  > .progress {
//    grid-area: progress;
//  }
//
//  > .done {
//    grid-area: done;
//  }
//}

//.project {
//  &:not(:first-child) {
//    border-top: 2px solid #646cffaa;
//    margin-top: 1em;
//  }
//
//  > div {
//    padding: 0.5em;
//  }
//  > div:not(:last-child) {
//    border-right: 2px solid #42b883aa;
//  }
//}

h1 {
  text-align: left;
}

h1 {
  margin: 0;
}

//.project > div {
//  background: #18181c;
//  border: 1px solid #ffffff17;
//  border-radius: 3px;
//}

.project {

  :deep(.dndrop-container) {
    height: 100%;

    .n-card-header {
      cursor: grab;
    }
  }
  :deep(.dndrop-container.vertical) {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: 8px 12px;
  }
}

:deep(.dndrop-ghost) {
  cursor: grabbing;
}
</style>
