<script setup lang="ts">
import {NButton, NCard} from "naive-ui";
import db from "../db";

const props = withDefaults(defineProps<{id: number, title: string, description?: string, deletable?: boolean}>(), { deletable: false})

const deleteTask = async () => {
  await db.tasks.delete(props.id)
}
</script>

<template>
<n-card :title="title" size="small" hoverable>
  <template #default v-if="description">{{description}}</template>
  <template #header-extra v-if="deletable">
    <n-button type="tertiary" text @click="deleteTask">Delete</n-button>
  </template>
</n-card>
</template>

<style scoped lang="scss">

</style>
