<script lang="ts" setup>
import db, {resetDb} from "./db";
import {groupBy} from "lodash"
import Project from "./components/Project.vue";

import {computed, ref} from 'vue'
import {useOsTheme, darkTheme, NConfigProvider, NPageHeader, NButton, DropdownOption, NSpace, NDropdown, NDivider, NGlobalStyle, NMessageProvider} from 'naive-ui'
import Adder from "./components/Adder.vue";
import {useObservable} from "@vueuse/rxjs";
import {from, map} from "rxjs";
import {liveQuery} from "dexie";
import {Task} from "./types.ts";
import Importer from "./components/Importer.vue";
import Exporter from "./components/Exporter.vue";

const osThemeRef = useOsTheme()
const theme = computed(() => (osThemeRef.value === 'dark' ? darkTheme : null))

const projects = useObservable<Record<string, Array<Task>>>(
    from(liveQuery(() => db.tasks.toArray()))
        .pipe(
            map(tasks => groupBy(tasks, task => task.project))
        )
)

const noTasks = useObservable(
    from(liveQuery(() => db.tasks.count()))
        .pipe(
            map(count => count === 0)
        )
)

const importer = ref<InstanceType<typeof Importer>>()
const exporter = ref<InstanceType<typeof Exporter>>()

const doImport = () => importer.value?.importTasks()
const doExport = () => exporter.value?.exportTasks()

const destructiveOptions: Array<DropdownOption> = [
  {
    label: "Import",
    key: "import",
    props: {
      onClick: doImport
    }
  },
  {
    label: "Export",
    key: "export",
    props: {
      onClick: doExport
    }
  }
]

</script>

<template>
  <n-config-provider :theme="theme" abstract>
    <n-message-provider placement="top">
      <n-global-style/>
      <n-page-header title="tododu">
        <template #extra>
          <n-space>
            <Adder/>
            <n-dropdown :options="destructiveOptions" placement="bottom-start">
              <n-button :bordered="false" style="padding: 0 4px">
                ···
              </n-button>
            </n-dropdown>
            <Importer ref="importer"/>
            <Exporter ref="exporter"/>
          </n-space>
        </template>
      </n-page-header>

      <template v-if="noTasks">
        <div class="big-pad">
          <div>
            <h2>Nicely done, you are free to chill</h2>
            <n-divider title-placement="center">or</n-divider>
            <n-space justify="center">
              <n-button type="primary" @click="doImport">Import backup</n-button>
              <n-button secondary @click="resetDb">Add dummy tasks to see how it works</n-button>
            </n-space>
          </div>
        </div>
      </template>
      <template v-else>
        <Project v-for="(tasks, project_name) in projects" :project-name="project_name" :tasks="tasks"/>
      </template>
    </n-message-provider>
  </n-config-provider>
</template>

<style lang="scss" scoped>

h1 {
  text-align: left;
}

.big-pad {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;

  > div {
    pointer-events: all;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h2 {
    margin: 0;
  }
}

.n-page-header {
  z-index: 43;
}

</style>
